:host ::ng-deep .p-button {
  background: transparent !important;
  border-color: var(--shared-btn-border-color) !important;
  color: var(--shared-btn-text-color);

  &:hover {
    background: var(--shared-btn-hover-bg) !important;
    color: var(--shared-btn-hover-text) !important;
  }
}
