<footer class="bg-black-900 text-white pb-3 pt-5 px-4 lg:px-8 border-top-1 border-gray-800">
  <div class="container-custom mx-auto">
    <div class="grid align-items-center mb-4 pb-3 border-bottom-1 border-gray-800">
      <div class="col-12 md:col-4 flex align-items-center">
        <img ngSrc="./images/DB-logo.avif" width="80" height="55" alt="Digital Era Logo" />
        <span class="text-2xl font-bold ml-3 uppercase tracking-wider">Digital Era</span>
      </div>

      <div
        class="col-12 md:col-8 flex flex-column md:flex-row md:justify-content-end gap-5 mt-2 md:mt-0"
      >
        <div class="flex align-items-center gap-3">
          <img
            width="47"
            height="38"
            ngSrc="./images/footer/agency-bubble.avif"
            alt="message bubble image"
          />
          <div class="flex flex-column gap-1">
            <a href="tel:9024225444" class="tel-link text-white no-underline pb-1 block"
              >9024225444</a
            >
            <a href="mailto:info@digitalera.com" class="text-gray-400 no-underline text-sm block"
              >info@digitalera.com</a
            >
          </div>
        </div>
        <div class="flex align-items-center gap-3">
          <img
            width="34"
            height="41"
            ngSrc="./images/footer/agency-map.avif"
            alt="location pin image"
          />
          <p class="m-0 text-sm text-gray-300 line-height-3 max-w-15rem">
            27 Division St, New York, NY<br />10002, United States
          </p>
        </div>
      </div>
    </div>

    <div class="grid pt-2">
      <div class="col-12 md:col-4 pr-4 lg:pr-8">
        <p class="footer-p line-height-3 mb-4">
          A bonded family that mix and match creativity and commitment to help brands go beyond the
          limit.
        </p>
        <div class="flex gap-3 text-xl">
          <a href="#" aria-label="Follow us on Twitter" class="social-icon transition-colors"
            ><i class="pi pi-twitter"></i
          ></a>
          <a href="#" aria-label="Follow us on Facebook" class="hover:text-white transition-colors"
            ><i class="pi pi-facebook"></i
          ></a>
          <a href="#" aria-label="Follow us on Google" class="hover:text-white transition-colors"
            ><i class="pi pi-google"></i
          ></a>
          <a href="#" aria-label="Follow us on Pinterest" class="hover:text-white transition-colors"
            ><i class="pi pi-pinterest"></i
          ></a>
          <a href="#" aria-label="Follow us on LinkedIn" class="hover:text-white transition-colors"
            ><i class="pi pi-linkedin"></i
          ></a>
        </div>
      </div>

      <nav class="col-12 md:col-8 grid mt-5 md:mt-0" aria-label="Footer Navigation">
        <div class="col-12 sm:col-4">
          <ul class="list-none p-0 m-0 line-height-4">
            <li><a href="#" class="footer-link">Social Media</a></li>
            <li><a href="#" class="footer-link">Web Development</a></li>
            <li><a href="#" class="footer-link">Mobile Apps</a></li>
            <li><a href="#" class="footer-link">Influence Marketing</a></li>
          </ul>
        </div>
        <div class="col-12 sm:col-4">
          <ul class="list-none p-0 m-0 line-height-4">
            <li><a href="#" class="footer-link">SEO Optimization</a></li>
            <li><a href="#" class="footer-link">Media Production</a></li>
            <li><a href="#" class="footer-link">SMS Camaigns</a></li>
            <li><a href="#" class="footer-link">Want to join us</a></li>
          </ul>
        </div>
        <div class="col-12 sm:col-4">
          <ul class="list-none p-0 m-0 line-height-4">
            <li><a routerLink="home" href="#" class="footer-link">Home</a></li>
            <li><a routerLink="about" href="#" class="footer-link">About Us</a></li>
            <li><a routerLink="testimonials" href="#" class="footer-link">Testimonials</a></li>
            <li><a routerLink="contact" href="#" class="footer-link">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="my-0 pt-3 border-top-1 border-gray-800 text-sm text-gray-400">
      <p class="mx-auto my-1 w-6 text-center">&copy; 2026 &mdash; All Rights Reserved.</p>
    </div>
  </div>
</footer>
