.testimonials {
  position: relative; 
  background-color: var(--test-bg); 
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../public/images/1cm Dots.avif');
    background-repeat: repeat;
    opacity: 0.3; 
    z-index: 0; 
  }

  .card {
    position: relative;
    z-index: 1; // Ensure content stays above the faded background
  }
}

.img-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.rating {
  font-size: 0.8rem;
  color: var(--test-star-fill) !important;
  text-align: center;
}
