@use './app/shared/styles/utilities';
@use './app/shared/styles/variables';
@use './app/shared/styles/animations';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-1);
}
